a.mw-scryfall-link {
	text-decoration: underline;
	text-decoration-style: dotted;
}
div.tippy-tooltip.scryfall-theme {
	border-radius: 12px;
	padding: 0;
	width: 244px;
	height: 340px;
}
img.cardimage {
	border-radius: 12px;
}
div.mw-scryfall-deck {
	border: 1px solid #000;
}
h3.mw-scryfall-decktitle {
	border: 1px solid #000;
}
h4.mw-scryfall-decksection {
	border: 1px solid #000;
}
